.bgCover {
  background-position: "center";
  background-size: cover;
  background-repeat: no-repeat;
}
.interest {
  padding: 12px;
  background-color: rgba(224, 220, 220, 0.441);
  border-radius: 6px;
}

.sideBarStyles {
  position: fixed;
  height: 100vh;
  width: 40%;
  background-color: white;
  color: #222;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .sideBarStyles {
    width: 70%;
  }
}

.menuFilter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7c7c7cae;
  z-index: 50;
}

.RegisteredUserLandingBanner {
  display: flex;
  justify-content: center;
  min-height: 60vh;
  align-items: center;
}

.wrapMiniMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .wrapMiniMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
}

.RegisteredUserLandingBanner {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.MiniMovieCard {
  width: 350px;
  height: 100px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  display: flex;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 12px;
}

.MiniMovieCardHeader {
  font-size: 14px;
  padding-left: 12px;
  width: 150px;
  overflow: hidden;
  color: #222;
  font-weight: 600;
}

.MiniMovieCardImg {
  width: 100px;
  height: 100px;
  border-radius: inherit;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.removeUnderline {
  text-decoration: none;
  color: #222;
}

.removeUnderlineNotAffectText {
  text-decoration: none;
  color: white;
}

.Languagebox {
  position: fixed;
  left: 50%;
  top: 50%;
}

.saveVocabItem {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.nonEnglishBox {
  padding: 12px;
  line-height: 1.6;
  color: #222;
}

.interestItem {
  border: 1px solid #222;
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cursorPointer {
  cursor: pointer;
}

.bgImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.movieContainerBannerItem div {
  padding: 6px;
  border-radius: 6px;
  text-align: center;
}

.filterArticle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.444);
}

.REL {
  position: relative;
}

.flexSavedContent {
  display: flex;
  gap: 7px;
  cursor: pointer;
  align-items: center;
}

.activeItem {
  background-color: #000000;
  color: #fff;
  padding: 12px;
  display: flex;
  width: 100px;
  height: 20px;
  justify-content: center;
  gap: 7px;
  border-radius: 50px;
  font-weight: 700;
}

.lengthActive {
  color: rgba(255, 255, 255, 0.478);
}

.lengthSaved {
  color: rgba(34, 34, 34, 0.399);
}
.noContentFound {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.715);
}

.hoverMoveUp:hover {
  transform: translateY(-2px);
  transition: all 0.25s ease-in-out;
}

.hoverMoveUp:active {
  transform: translateY(2px);
}

.aboutPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MiniMovieCardGenres {
  padding: 12px;
  display: flex;
  gap: 10px;
  width: 150px;
  flex-wrap: wrap;
}

.MiniMovieCardGenre {
  font-size: 14px;
  color: rgba(34, 34, 34, 0.479);
}

.SavedVocabCardWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.SavedVocabCard {
  padding: 12px;
  width: 200px;
  height: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.deleteVocab {
  color: #2325268f;
  cursor: pointer;
}

.SavedVocabCardTrans {
  font-size: 14px;
  color: #2325269a;
}

.SavedVocabCardEng {
  font-weight: 600;
  color: #222;
}

.hide {
  display: none;
}

.apiCreditContainer {
  display: flex;
  flex-wrap: wrap;
}

.apiCreditBox {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .apiCreditBox {
    width: 100%;
  }
}

.apiCreditText {
  height: 100px;
  overflow: hidden;
}

.registerScreenText {
  overflow-y: auto;
  overflow-x: hidden;
}

.SignInForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #a5a5a51f;
  padding: 60px;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.changeMediaTypeBtn {
  padding: 12px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  text-align: center;
  min-width: 60px;
  cursor: pointer;
}

.wrapMediaTypeBtns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filterCookieBar {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.437);
  position: fixed;
  top: 0px;
}

.CookieBar {
  position: fixed;
  bottom: 0px;
  min-height: 20vh;
  padding: 40px;
  background-color: #fff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
